{% load static %}
<link rel="stylesheet" href="{% static 'hospital/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'hospital/dist/css/AdminLTE.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'hospital/style.css' %}">


            <h1>General Hospital</h1>
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'hospital:index' %}">Home Page</a></li>
              <li><a href="{% url 'hospital:doctor' %}">Doctor Registraion</a></li>
              <li><a href="{% url 'hospital:patient' %}">Patient Registraion</a></li>
              <li><a href="{% url 'hospital:appoint' %}">Appointment Form</a></li>
              <li><a href="{% url 'hospital:doclist' %}">Doctors List</a></li>
              <li><a href="{% url 'hospital:patlist' %}">Patients List</a></li>
              <li><a href="{% url 'hospital:appointlist' %}">Appointment Record</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper">
    <aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <ul class="sidebar-menu" data-widget="tree">
              <li class="treeview">
               <a href="{% url 'hospital:index' %}">
               <i class="fa fa-files-o"></i>
               <span>Home</span>
               </a>
              </li>
                <li class="treeview">
                <a href="{% url 'hospital:doctor' %}">
                <i class="fa fa-files-o"></i>
                <span>Doctor Registration</span>
               </a>
              </li>
              <li class="treeview">
                <a href="{% url 'hospital:patient' %}">
                <i class="fa fa-files-o"></i>
                <span>Patient Registration</span>
              </a>
</li>
          <li class="treeview">
        <a href="{% url 'hospital:appoint' %}">
        <i class="fa fa-files-o"></i>
        <span>Appointment Form</span>
             </a>
</li>
          <li class="treeview">
          <a href="{% url 'hospital:doclist' %}">
          <i class="fa fa-files-o"></i>
          <span>Doctors List</span>
               </a>
</li>
          <li class="treeview">
          <a href="{% url 'hospital:patlist' %}">
          <i class="fa fa-files-o"></i>
          <span>Patients List</span>
           </a>
</li>
          <li class="treeview">
          <a href="{% url 'hospital:appointlist' %}">
          <i class="fa fa-files-o"></i>
          <span>Appointment Record</span>
               </a>
</li>
            </ul>
            </div>
    </section>
     </aside>
        <div class="row">
                <div class="col-md-10">
                <div style="margin-left:200px;padding:10px" class="box box-primary">
                <div class="box-header with-border">
              <h1 class="box-title">Doctors List</h1>
            </div>
              <table id="tb" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Specialization</th>
                    <th>Phone</th>
                    <th>Emp No</th>
                    <th>Edit</td>
                    <th>Delete</td>
                </tr>
                {% for doctor in rec %}
                    <tr>
                    <td>{{doctor.id}}</td>
                    <td>{{doctor.name}}</td>
                    <td>{{doctor.address}}</td>
                    <td>{{doctor.specialize}}</td>
                    <td>{{doctor.phone}}</td>
                    <td>{{doctor.emp}}</td>
                    <td><button class="btn btn-danger" onclick="ModalShow(event)" data-id="{{ doctor.id }}">Edit</button></td>
                    <td><button class="btn btn-danger" onclick="del(event)" data-id="{{ doctor.id }}">delete</button></td>
                </tr>
                {% endfor %}
                </table>
                </div></div></div>
        <section class="content">
        <div id="docmodal" class="modal">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" id="closeModal" class-dismiss="modal">&times</button>
            <h3 class="modal-title">Enter New Values</h3>
          </div>
          <div class="modal-body">
              <div class="form-group">
            <form role="form" action="{% url 'hospital:docedit' %}" method="POST">
               {% csrf_token %}
               <input type="hidden" name="docid" id="docid">
               <label for="nam">Name</label>
               <input type="text" class="form-control" id="nam" name="name">
               <label for="add">Address</label>
               <input type="text" class="form-control" id="add" name="address">
               <label for="ph">Phone</label>
               <input type="text" class="form-control" id="ph" name="phone">
               <label for="spec">Specialization</label>
               <input type="text" class="form-control" id="spec" name="specialize">
               <label for="emp">Emp No</label>
               <input type="text" class="form-control" id="emp" name="emp">
               <button type="submit" name="submit">Save</button>
            </form>
              </div>
              </div>
          <div class="model-footer">
            <button type="button" data-dismiss="modal">close</button>
          </div>
        </div></div></div>
        </section>
              </div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>H-12</b>
    </div>
         <strong><a href="{% url 'hospital:index' %}">Islamabad Clinic</a>.</strong>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
      function del(event){
        deleteid = $(event.target).data("id")
      $.ajax({
            url: "{% url 'hospital:docdel' %}",
            data: {"deleteid":deleteid},
            success: function(resp){
            document.location.reload(true);
    } }); }
      function ModalShow(event){
        $('#docmodal').modal('show');
        modalid = $(event.target).data("id")
        $.ajax({
            url: "{% url 'hospital:docmodal' %}",
            datatype: "json",
            data: {"modalid":modalid},
            success: function(rec){
                $('#docid').val(rec.id)
                $('#nam').val(rec.name)
                $('#add').val(rec.address)
                $('#ph').val(rec.phone)
                $('#spec').val(rec.specialize)
                $('#emp').val(rec.emp)

    } }); }
</script>